{% extends 'admini/base.html' %}

{% block title %} Main Page List {% endblock %}

{% block navbar_content %}
<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-text mx-3"><span>Winners Network</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link" href="{% url 'edit-index-dashboard' %}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'admin-edit-index' %}"><i class="far fa-edit"></i><span>Edit Home Page</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/wpcp-admin-indexer/add-link/"><i class="far fa-plus-square"></i><span>Add New Url Links</span></a></li>
            <li class="nav-item"><a class="nav-link active" href="/wpcp-admin-indexer/link-list/"><i class="fas fa-list-ul"></i><span>Links List</span></a></li>
<!--        <li class="nav-item"><a class="nav-link" href="/wpcp-admin/subpage-list/"><i class="fa fa-gears"></i><span>Sub Page</span></a></li>-->
<!--        <li class="nav-item"><a class="nav-link" href="/wpcp-admin/file/upload/"><i class="fa fa-upload"></i><span>Upload Files Here</span></a></li>-->
            <li class="nav-item"><a class="nav-link" href="/wpcp-admin-indexer/dropdown-url/"><i class="fas fa-th-list"></i><span>Dropdown URL List</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/wpcp-admin-indexer/dropdown-tag/"><i class="fa fa-gears"></i><span>Dropdown Tag List</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>
{% endblock %}

{% block back_content %}
<div class="input-group">
    <a class="btn btn-primary" href="/wpcp-admin-indexer/"><i class="fas fa-arrow-left"></i></a>
</div>
{% endblock %}

{% block container_content %}
<h3 class="text-dark mb-4">Team</h3>
<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">All Pages Info</p>
    </div>
     <div class="card-body">
        <div class="row">
            <div class="col justify-content-end">
                <form class="d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search justify-content-end">
                    <div class="input-group"><input class="bg-light form-control border-0 small" type="text" name="q" placeholder="Search for ...">
                        <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                     </div>
                </form>
            </div>
        </div>
        <table class="table table-sm-resposive mt-3 mb-3">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Url Linked</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>


            </thead>
            <tbody>
                {% for post in object_list %}

                <tr>
                    <td>{{post.name}}</td>
                    <td>{{post.url}}</td>

                    <td>
                        <a class="text-decoration-none" href="/wpcp-admin-indexer/link/{{post.pk}}/edit/"><i class="far fa-edit"></i></a>
                    </td>
                    <td>
                        <a class="text-decoration-none" href="/wpcp-admin-indexer/link/{{post.pk}}/delete/"><i class="far fa-trash-alt"></i></a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
         {% if is_paginated %}

         <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Next"><span aria-hidden="true">«</span></a></li>
            {% endif %}

                <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>

            {% if page_obj.has_next %}

                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>

            {% endif %}

            </ul>
         </nav>

         {% endif %}
    </div>
</div>
{% endblock %}
